
.navbar ul{
overflow: auto;
	background-color: turquoise;
	color: rgb(255, 238, 238);
}

.navbar li{
	float: left;
	list-style: none;
	padding: 20px;
	font-weight: bold;
	font-size: 20px;
}
.navbar li:visited{
 color: royalblue;

}
.navbar li:hover{
	 
	background-color: yellow;

}

.Hel:hover{
	background-color: turquoise;
}


.Hel{
	color: white;
	background-color: yellow;
    font-family: cursive;
}

p{
	font-family: Arial, Helvetica, sans-serif;
	font-style: oblique;
	font-weight: 600;
}


p{
	font-size: 100%;
	padding: 25px;
	border: 10px solid black;
    font-family: Arial, Helvetica, sans-serif;
	box-shadow: 25px;
	background-color: whitesmoke;
	color: black;
	text-align: left;
	line-height: 0.55cm;
    text-transform: uppercase;
     

}



.het{
color: whitesmoke;
align-content: center;
background-color: tomato;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 600;


}

/* .back{

	background-image: url(Cute.jpg);
	background-size: 1000px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 800px;
	width: 1280px;
} */

/* Styling our box
.boxheading{
 
background-color: chartreuse;
color: cornsilk;


}

.box1,.box2{

	height: 5cm;
	width: 5cm;
	margin: 5cm;
	background-color: darkgreen;
	/* padding: 10cm; */

/* } */ */



/* Navigation editing */

